@import "tailwindcss";

@theme {
  --color-one: #edf0f0;
  --color-two: #4c8d84;
  /* --color-two: #269491; */
  --color-three: #f8fafa;
  --color-four: #b1b8b7;
  --color-five: #ff0000;
  --color-six: #f5b607;
  --color-seven: #25bf66;
}
